@use '../../styles/' as *;

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 100;
  padding: 0.625rem 0;
  height: 4.0925rem;

  @media (max-width: 48rem) {
    background-color: $header-color !important;
  }

  &.activeHeader {
    background-color: $header-color !important;
  }
  &Container {
    @include flex(center, space-between, 0.625rem);
    @include container;
  }
  &Logo {
    font-size: 1.875rem;
  }
  &Nav {
    @include flex(center, center, 1.25rem);
    &Li {
      position: relative;
      font-size: 1.3125rem;

      > a {
        &::after {
          content: '';
          position: absolute;
          bottom: 0;
          left: 50%;
          transform: translateX(-50%);
          width: 0;
          height: 0.125rem;
          transition: width 0.5s ease 0s;
          background-color: $red;
          @media (max-width: 48rem) {
            text-align: center;
          }
        }

        &.activeLink::after,
        &:hover::after {
          width: 100%;
        }
      }
    }
  }
}

.burgerMenu {
  position: relative;
  width: 4rem;
  height: 1.875rem;
  cursor: pointer;
  display: inline-block;
  background-color: transparent;
  border: none;
  margin: 0;
  padding: 0;
  > span {
    background-color: red;
    position: absolute;
    border-radius: .125rem;
    width: 3.125rem;
    height: .1875rem;
    text-decoration: 500ms;
    transition: 0.3s cubic-bezier(0.8, 0.5, 0.2, 1.4);
    &:nth-child(1) {
      top: 0;
      left: 0;
    }
    &:nth-child(2) {
      top: .8125rem;
      left: 0;
      opacity: 1;
    }
    &:nth-child(3) {
      bottom: 0;
      left: 0;
    }
  }
  &Open {
    > span {
      &:nth-child(1) {
        transform: rotate(45deg);
        top: .8125rem;
      }
      &:nth-child(2) {
        opacity: 0;
      }
      &:nth-child(3) {
        transform: rotate(-45deg);
        top: .8125rem;
      }
    }
  }
  &List {
    position: absolute;
    top: 3.375rem;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    height: 100vh;
    opacity: 0;
    visibility: hidden;
    padding: 3.125rem 0;
    background: rgba(21, 36, 72, 1);
    backdrop-filter: blur(3.75rem);
    transition: visibility 0.3s ease-in-out, opacity 0.3s ease-in-out;

    &Open {
      opacity: 1;
      visibility: visible;
      transition: visibility 0.3s ease-in-out, opacity 0.3s ease-in-out;
    }

    &Li {
      text-align: center;
      & a {
        position: relative;
        text-decoration: none;
        font-size: 2em;
        padding: .3125rem 1.25rem;
        display: inline-flex;
        font-weight: 700;
      }
    }
  }
}
