.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: none;
  &Container {
    position: relative;
    padding: 1.875rem;
    border-radius: 1.25rem;
    background: #0d1137;
  }
  &Button {
    position: absolute;
    top: .625rem;
    right: .625rem;
    border-radius: .3125rem;
    background: red;
    color: #fff;
    padding: .3125rem;
    width: 2.5rem;
    height: 2.5rem;
    font-size: 1.25rem;
    border: .0625rem solid #fff;
    cursor: pointer;
    transition: all 0.3s ease 0s;
    &:hover {
      background: rgb(182, 3, 3);
    }
  }
}
