.movieSlider {
  margin: -0.625rem 0 1.25rem 0;
  &Title {
    padding: 0 0.625rem;
    font-size: 3.125rem;
    font-weight: 600;
    margin-bottom: 1.875rem;
    @media (max-width: 48rem) {
      font-size: 2.5rem;
    }
  }
  &Slide {
    position: relative;
    aspect-ratio: 1 / 1.5;
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    width: 100%;
    margin: 0 0.3125rem;
    overflow: hidden;
    cursor: pointer;
    transition: all 450ms !important;

    &:hover {
      transform: scale(0.98);
    }
  }
  &Loader {
    border-radius: 0.3125rem;
    position: relative;
    @media (max-width: 78.125rem) {
      height: 25rem;
    }
    @media (max-width: 48rem) {
      height: 18.75rem;
    }
    @media (max-width: 26.5625rem) {
      height: 15.625rem;
    }
  }
  &Rating {
    position: absolute;
    bottom: 1.25rem;
    right: 0.3125rem;
    height: 4.5rem;
    width: 4.5rem;
    border-radius: 50%;
    background-color: #ffffff;
    @media (max-width: 64rem) {
      height: 3.75rem;
      width: 3.75rem;
    }
    @media (max-width: 26.5625rem) {
      height: 3.125rem;
      width: 3.125rem;
      bottom: 0.625rem;
    }
  }
}
