.movieSlider {
  margin-bottom: 1.25rem;
  &Title {
    padding: 0 0.625rem;
    font-size: 3.125rem;
    font-weight: 600;
    margin-bottom: 1.875rem;
    @media (max-width: 48rem) {
      font-size: 2.5rem;
    }
  }
  &Slide {
    position: relative;
    overflow: hidden;
    cursor: pointer;
    margin: 0 0.3125rem;
    transition: all 450ms !important;
    &:hover {
      transform: scale(0.98);
    }
  }
  &Loader {
    border-radius: 0.3125rem;
    display: block;
    object-fit: contain;
    height: 31.25rem;

    @media (max-width: 78.125rem) {
      height: 25rem;
    }
    @media (max-width: 48rem) {
      height: 18.75rem;
    }
    @media (max-width: 26.5625rem) {
      height: 15.625rem;
    }
  }
  &Rating {
    position: absolute;
    bottom: 1.25rem;
    right: 0.3125rem;
    height: 4.5rem;
    width: 4.5rem;
    border-radius: 50%;
    background-color: #ffffff;
    @media (max-width: 64rem) {
      height: 3.75rem;
      width: 3.75rem;
    }
  }
}

.lazy-load-image-background.blur.lazy-load-image-loaded > img {
  opacity: 1;
  transition: opacity 0.3s;
}
