@mixin flex($align-items, $justify-content, $gap) {
  display: flex;
  align-items: $align-items;
  justify-content: $justify-content;
  gap: $gap;
}

@mixin container {
  max-width: 1350px;
  padding: 0 10px;
  margin: 0 auto;
}