.card {
  display: flex;
  flex-direction: column;
  border-radius: 0.5rem;
  width: 14.375rem;
  height: fit-content;
  transition: box-shadow 0.3s ease-in-out;
  cursor: pointer;

  &PosterContainer {
    position: relative;
    width: 100%;
    height: 17.8125rem;
    background-size: cover;
    background-position: center;
    margin-bottom: 0.625rem;
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    padding: 0.625rem;
    transition: all ease 0.5s;
    &:hover {
      opacity: 0.5;
    }
  }
  .cardRating {
    position: absolute;
    right: 0.3125rem;
    bottom: 0.3125rem;
    width: 3.75rem;
    height: 3.75rem;
    background: #fff;
    border-radius: 50%;
  }
  &Title {
    font-size: 1.25rem;
    transition: color 0.3s ease 0s;
    &:hover {
      color: red;
    }
  }
}
