@use '../../styles/' as *;

.tv {
  padding-top: 5rem;
  margin-bottom: 1.875rem;
  &Container {
    @include container;
  }
  &List {
    @include flex(center, center, 1.25rem);
    flex-wrap: wrap;
  }
}
