.cast {
  margin-top: 3.125rem;
  &Heading {
    font-size: 1.875rem;
    margin-bottom: .625rem;
  }
  &List {
    display: flex;
    column-gap: 1.875rem;
    flex-wrap: wrap;
  }
  &Item {
    text-align: center;
    &Image {
      border-radius: 50%;
      width: 6.25rem;
      height: 6.25rem;
      overflow: hidden;
      margin: .625rem auto;
      background-position: top center;
      background-size: cover;
      background-repeat: no-repeat;
    }
    &Name {
      font-size: 1.25rem;
      font-weight: 700;
      text-align: center;
    }
    &Character {
      margin-top: .3125rem;
      text-align: center;
      font-size: 1.0625rem;
    }
  }
}
