.circleRating {
  border-radius: 50%;
  padding: .125rem;
}

.CircularProgressbar .CircularProgressbar-text {
  font-size: 1.5625rem !important;
  font-weight: 700 !important;
  fill: red !important;
}

.CircularProgressbar {
  width: auto;
}
