@use '../../styles/' as *;

.banner {
  margin-bottom: 0.625rem;
  padding: 11.5rem 0;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;

  position: relative;

  @media (max-width: 64rem) {
    padding: 8.5rem 0;
  }

  @media (max-width: 48rem) {
    padding: 8.5rem 0 9.375rem 0;
  }

  @media (max-width: 26.5625rem) {
    padding: 7.5rem 0 5.625rem 0;
  }

  &Container {
    @include container;
  }
  &Content {
    margin-bottom: 1.25rem;
    padding: 1.25rem 0;
    background-color: rgba(15, 15, 15, 0.61);
    padding: 1.25rem 0.625rem;
    border-radius: 0.625rem;
    @media (min-width: 48rem) {
      max-width: 43.75rem;
    }
    &Title {
      font-size: 3.1875rem;
      font-weight: 700;
      margin-bottom: 0.3125rem;
      @media (max-width: 48rem) {
        font-size: 1.875rem;
      }
    }
    &Description {
      max-width: 35.625rem;
      font-size: 1.5rem;
      text-shadow: 0rem 0.0625rem 0.125rem rgb(30 29 39 / 19%),
        0.0625rem 0.125rem 0.25rem rgb(54 64 147 / 18%);
      margin-bottom: 1.25rem;
      @media (max-width: 48rem) {
        max-width: 28.125rem;
        font-size: 1.25rem;
      }
      @media (max-width: 26.25rem) {
        max-width: 19.6875rem;
      }
    }
    &Actions {
      display: flex;
      align-items: center;
      gap: 0.625rem;
    }
  }

  &Blur {
    position: absolute;
    bottom: -0.125rem;
    height: 5.5rem;
    width: 100%;
    background-image: linear-gradient(
      180deg,
      transparent,
      rgba(15, 15, 15, 0.61),
      #060d17,
      #060d17
    );
    @media (max-width: 48rem) {
      height: 2.3rem;
    }
  }
}
