.tvSlider {
  margin-bottom: 1.25rem;
  .tvSliderImg {
    cursor: pointer;
    max-height: 28.125rem;
    width: 100%;
    object-fit: contain;
    border-radius: 0.3125rem;
  }
  &Item {
    position: relative;
  }
  &Title {
    position: absolute;
    bottom: 2.5rem;
    left: 2.5rem;
    font-size: 2.1875rem;
  }
}
